<% provide(:title, "Income") %>
<body>
    <div class="container">
        <div class="income-page">
            <div class="grath">
                <div class="grath-income-this-year">
                    <h1>今年の収入のグラフ</h1>
                    <%= column_chart @incomes_grath_data_this_year, xtitle: "月", ytitle: "収入", height: "300px" %>
                </div>
                <div class="grath-income-this-month">
                    <h1>今月の収入のグラフ</h1>
                                        <%= pie_chart @incomes_grath_data_this_month, height: "300px" %>
                </div>
            </div>
            <div class="index-income">
                <h1>今年の収入一覧</h1>
                <% @incomes_this_year.each do |income| %>
                <div class="income">
                    <p><%= income.date%></p>
                    <p><%= income.name%></p>
                    <p><%= number_to_currency(income.amount)%></p>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</body>
