<div class="container-signup-page">
    <h1>アカウント作成</h1>
    <%= render 'shared/error_messages' %>
    <div class="container-signup-page-form">
        <%= form_with model: @user do |f| %>
            <div class="user-name">
                <%= f.label :user_name, "ユーザー名", class: "form-label" %>
                <%= f.text_field :user_name, class: "form-control" %>
            </div>
            <div class="email">
                <%= f.label :email, "メールアドレス", class: "form-label" %>
                <%= f.text_field :email, class: "form-control" %>
            </div>
            <div class="password">
                <%= f.label :password, "パスワード", class: "form-label" %>
                <%= f.text_field :password, class: "form-control" %>
            </div>
            <div class="password-confirmation">
                <%= f.label :password_confirmation, "パスワードの確認", class: "form-label" %>
                <%= f.text_field :password_confirmation, class: "form-control" %>
            </div>
            <div class="submit-button">
                <%= f.submit "SignUp", class: "button"%>
            </div>
        <% end %>
    </div>
</div>
